<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Password Recovery</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f6f6f6;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 720px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header img {
            max-width: 80px;
        }

        .content {
            background-color: #ffffff;
            border-radius: 3px;
            padding: 20px;
        }

        .footer {
            text-align: center;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 12px;
            color: #999999;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="header">
        <img src="cid:logo" alt="logo">
    </div>
    <div class="content">
        <p>Dear <%= name %>,</p>
        <p>We've received a request to reset your password.</p>
        <p>Click the link below to reset your password:</p>
        <a href="<%= appUrl %>/password-reset?token=<%= recoveryToken %>">
            Reset password
        </a>
        <p>This link is valid for a limited time.</p>
        <p>If you didn't make this request, you can ignore this email.</p>
        <p>Best regards,</p>
        <p>McDonalds Valley</p>
    </div>
    <div class="footer">
        Powered by LiveWall
    </div>
</div>
</body>

</html>